body, html {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif; /* Cleaner, more modern font */
    background-color: white; /* Maintains the soft background color */
    color: #333; /* Keeps the gentle text color for readability */
    line-height: 1.4;
}

/* Style for the About Us section's image */
.about-us img {
    width: 100%; /* Makes the image fill the width of its container */
    height: auto; /* Maintains the aspect ratio of the image */
    display: block; /* Treats the image as a block-level element */
    margin: auto; /* Centers the image horizontally within its container */
    border-radius: 3px; /* Optional: adds rounded corners to the image for a softer look */
}

.image-overlay-container {
  position: relative;
  text-align: left; /* Center the text */
  color: white; /* Text color */
}

.image-overlay-container img {
  width: 100%; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.overlay-text {
  position: absolute;
  bottom: 30px; /* Position from the bottom */
  left: 40px; /* Position from the left */
  right: 40px;
  font-size: 40px; /* Adjust the font size as needed */
  font-weight: bold; /* Optional: makes the text bold */
  color: #FFF; /* Text color */
}

/* Navigation Bar Base Style */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: transparent; /* Or any color that fits your design */
    position: fixed; /* This makes the navbar fixed at the top */
    top: 0;
    left: 0;
    width: 100%; /* Ensures the navbar extends full width */
    z-index: 1000; /* Ensures the navbar stays on top of other content */
    transition: background-color 0.7s;
}

.navbar.scrolled {
  background-color: white; /* Set the background to white */
  transition: background-color 0.7s; /* Optional: Smooth transition for the color change */
  border-bottom: 1px solid #E0E0E0;
}

.navbar .logo {
    height: 75px; /* Adjust based on your logo */
}

/* Navigation Links */
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 70px; /* Adjust this value to push links further to the left */
    display: flex;
}

.navbar a {
    text-decoration: none;
    color: #333; /* Dark color for contrast */
}

.navbar li {
  padding: 0 10px;
}

.navbar ul li a {
    background-color: white; 
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }

  .navbar ul li a.active {
    text-decoration: underline;
    text-decoration-color: #E0E0E0; /* Lighter color */
    text-decoration-thickness: 2px; /* Adjust thickness */
    text-underline-offset: 4px; /* Adjust distance from text */
}

  .navbar ul li a:hover {
    background-color: #dbdfe0; 
  }

.main, .our-services, .about-us-content, .gallery-heading,
.contact-us {
    margin: 20px;
    padding: 20px;
    margin-top: 30px;
}

.about-us-content{
  margin-top: 0px;
  padding-top: 0;
}

.about-us {
  margin-bottom: 0px;
  padding-bottom: 0;
}

.contact-us {
    margin-top: 50px;
}

.button {
    background-color: transparent; /* More subdued button style */
    color: #333; /* Button text color */
    padding: 10px 20px;
    border: 1px solid #333; /* Outline style */
    cursor: pointer;
    border-radius: 5px; /* Maintains rounded edges */
    transition: all 0.3s; /* Smooth transition for hover effects */
}

.button:hover {
    background-color: #073555; /* Button fill on hover */
    color: white; /* Button text color on hover */
}

.service:not(:last-child) {
    border-bottom: 1px solid #e0e0e0; /* Light grey line for separation */
    margin-bottom: 30px; /* Add some space below each service for visual separation */
    padding-bottom: 30px; /* Space between the service content and the border line */
}

.our-services {
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-left: 130px;
    padding-right: 130px;
    text-align: left;
    background-color: #F9F9F9;
}

.enquiry-form {
  padding: 40px;
  margin-top: 30px;
  background-color: #F9F9F9;
  padding-bottom: 80px;
}

.our-services h2 {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 30px;
    text-align: center;
}

.services-container {
    margin-top: 50px;
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services-container button {

}

.service {
    display: flex;
}

.service img {
    width: 370px;
    height: 320px;
    object-fit: cover;
    border-radius: 5px;
}

.service-content {
    flex: 1;
    padding-left: 30px;
}

.service-content h3 {
    margin: 0;
    padding: 0;
    font-size: 26px;
    color: #333;
}

.service-content p {
    font-size: 16px;
    color: #333;
}

.service-content ul {
    font-size: 16px;
    color: #333;
    padding-left: 20px;

}


  /* Gallery */
  .gallery-heading h1 {
    text-align: center;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .gallery img {
    width: 32.5%;
    margin-bottom: 1%;
    border-radius: 3px;
  }
  
  .prev, 
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 23px;
    padding: 16px;
  }
  
  .next {
    right: 0;
  }
  
  .prev {
    left: 0;
  }
  
  .modal .prev, 
  .modal .next {
    color: white;
  }
  
  .prev:hover, 
  .next:hover {
    color: grey;
    background-color:unset;
  }

  .modal { 
    display: none;
    position: fixed;
    z-index: 2001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .modal-content {
    margin: 15% auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  .close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: lighter;
    transition: 0.3s;
  }
  
  .close:hover, 
  .close:focus {
    color: grey;
  }
  
  .number {
    position: absolute;
    top: 20px;
    left: 35px;
    text-align: left;
    line-height: 55px;
    color: white;
    font-size: 18px;
  }
  /* End reference */


  /** Contact Us **/
  .contact {
    display: flex;
  }
  
  .contact a {
    line-height: 2; 
  }
  
  .contact .container {
    width: 60%;
  }
  
  .contact .container p { 
    margin: 1% 0;
  }
  
  .map {
    width: 100%; 
    position: relative;
    margin-left: 5%;
    margin-top: 25px;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }

  .contact-us h4 {
    margin-bottom: 0px;
  }

  .map iframe {
    width: 100%;
    height: 350px;
    border: 0;
    border-radius: 5px;
  }
  
  .form-top {
    display: flex;
    justify-content: space-between;
  }
  
  .form-top .form-input {
    flex: 1;
    margin-right: 20px; 
  }
  
  .form-top .form-input:last-child {
    margin-right: 0;
  }
  
  .form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  
  .form-input label {
    margin: 9px 0;
    color: #333;
  }
  
  .form-input input,
  .form-input textarea {
    font-family: "Poppins", sans-serif;
    color: #333;
    background-color: #fcfcfc;
    font-size: 16px;
    padding: 12px;
    border: 1px solid #333;
    border-radius: 5px;
    resize: none;
  }
  
  #message-sent {
    display: none;
  }
  
  .error-message {
    color: red;
  }

  .contact h2::after,
  .enquiry-form h2::after {
      content: '';
      display: block;
      width: 70px; /* Adjust the line width as needed */
      border-bottom: 2px solid #E0E0E0; /* Adjust the line color as needed */
      margin: 10px 0; /* Adjust the margin as needed */
  }

  footer {
    color: #CCCCCC;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #063556;
    font-size: 13px;
  }
  
  footer img {
    height: 25px; 
    width: 25px;
    filter: brightness(0.7);
    transition: filter 0.4s ease-in-out;
  }
  
  footer img:hover {
    filter: brightness(1);
  }


  /* Media queries */
  @media (max-width: 900px) {
    .overlay-text {
      bottom: 16px; 
    }

    /* Text */
    h1 {
      font-size: 30px;
    }
  
    /* Contact Us */
    .contact {
      flex-direction: column;
    }
  
    .contact-us .container {
      width: 100%;
    }
  
    .map {
      margin-left: 0;
      margin-top: 5%;
    }

    .navbar .logo {
      height: 65px; /* Adjust based on your logo */
  }
   .overlay-text {
    font-size: 34px;
   }
  }
  
  @media (max-width: 768px) {
    .overlay-text {
      bottom: 10px; 
    }

    .overlay-text {
      font-size: 28px;
     }

    .navbar .logo {
      height: 55px; /* Adjust based on your logo */
  }

    .navbar li {
        padding: 0 5px;
    }
    /* Text */
    h1 {
      font-size: 26px;
    }
  
    h2 {
      font-size: 24px;
    }
  
    h3 {
      font-size: 18px;
      text-align: left;
    }
  
    p {
      font-size: 16px;
    }
  
    footer {
      padding: 10px 15px;
      font-size: 12px;
    }
  
    /* Gallery */
    .gallery img {
      width: 49%;
      margin-bottom: 2%;
    }
  
    .modal-content {
      margin: 30% auto;
    }
  
    /* Contact Us */
    .contact {
      flex-direction: column;
    }
  
    .contact-us .container {
      width: 100%;
    }
  
    .map {
      margin: 5% 0 0 0;
    }
  
    .form-top .form-input {
      margin-right: 0; 
    }
  
    .form-top {
      flex-direction: column;
  }

  .service img {
    width: 270px;
    height: 130px;
    object-fit: cover;
    border-radius: 5px;
}

.our-services {
    padding-left: 40px;
    padding-right: 40px;
}

.service {
    display:block;
}

.service-content {
    padding-left: 0;
}
}

@media (max-width: 620px) {

  h1 {
    font-size: 20px;
  }

  .our-services h2 {
    font-size: 20px;
  }

  .our-services h3 {
    font-size: 18px;
  }

  .overlay-text {
    bottom: 8px; 
    font-size: 20px;
  }

  .navbar {
    flex-direction: column;
    margin: 0px; 
    padding: 10px 0;
  }

  .navbar .logo {
    height: 40px; /* Adjust based on your logo */
    padding: 0px;
}

  .navbar ul {
    margin: 0px; 
    padding: 0px;
}


.navbar ul li a {
  margin: 0;
  padding: 5px 8px;
}

.navbar a {
  line-height: 40px; 
}

}