body, html {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
  background-color: white;
  color: #333;
  line-height: 1.4;
}

/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.7s;
}

.navbar.scrolled {
  background-color: white; 
  transition: background-color 0.7s; 
  border-bottom: 1px solid #E0E0E0;
}

.navbar .logo {
  height: 70px; 
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0 70px 0 0;
  display: flex;
}

.navbar a {
  text-decoration: none;
  color: #333;
}

.navbar li {
  padding: 0 10px;
}

.navbar ul li a {
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar ul li a.active {
  text-decoration: underline;
  text-decoration-color: #E0E0E0;
  text-decoration-thickness: 2px; 
  text-underline-offset: 4px; 
}

.navbar ul li a:hover {
  background-color: #E0E0E0; 
}

/* Section Styles */
a {
  color: #333;
  text-decoration: none;
}

.main, .our-services, .about-us-content, .gallery-heading, .contact-us {
  margin: 20px;
  padding: 20px;
}

.contact-us, .gallery-heading {
  margin-top: 70px;
}

/* Button Styles */
button {
  background-color: transparent;
  color: #333;
  padding: 10px 20px;
  border: 1px solid #333;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s;
}

button:hover {
  background-color: #073555;
  color: white;
}

/* About Us Styles */
.about-us-content{
  margin-top: 0;
  padding-top: 0;
}

.about-us {
  margin-bottom: 0;
  padding-bottom: 0;
}

.about-us img {
  width: 100%; 
  height: auto; 
  display: block;
  margin: auto; 
  border-radius: 3px; 
}

.image-overlay-container {
  position: relative;
  text-align: left; 
  color: white; 
}

.image-overlay-container img {
  width: 100%; 
  height: auto; 
}

.overlay-text {
  position: absolute;
  bottom: 30px; 
  left: 40px; 
  right: 40px;
  font-size: 40px; 
  font-weight: bold; 
  color: #FFF; 
}

/* Services Styles */
.service:not(:last-child) {
  border-bottom: 1px solid #b4b4b4;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.service {
  display: flex;
}

.service img {
  width: 370px;
  height: 320px;
  object-fit: cover;
  border-radius: 5px;
}

.our-services {
  padding: 0;
  margin: 0;
  padding-top: 10px;
  padding-left: 130px;
  padding-right: 130px;
  text-align: left;
  background-color: #F9F9F9;
}

.our-services h2 {
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 30px;
  text-align: center;
}

.service-content {
  flex: 1;
  padding-left: 30px;
}

.service-content h3 {
  margin: 0;
  padding: 0;
  font-size: 26px;
  color: #333;
}

.service-content p {
  font-size: 16px;
  color: #333;
}

.service-content ul {
  font-size: 16px;
  color: #333;
  padding-left: 20px;
}

.services-container {
  margin-top: 50px;
  padding-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Gallery Styles */
.gallery-heading h2::after {
  content: '';
  display: block;
  width: 70px;
  border-bottom: 2px solid #E0E0E0; 
  margin: 10px 0; 
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
  
.gallery img {
  width: 32.5%;
  margin-bottom: 1%;
  border-radius: 3px;
}
  
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 23px;
  padding: 16px;
}
  
.next {
  right: 0;
}
  
.prev { 
  left: 0;
}
  
.modal .prev, .modal .next {
  color: white;
}
  
.prev:hover, .next:hover {
  color: grey;
  background-color:unset;
}

.modal { 
  display: none;
  position: fixed;
  z-index: 2001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}
  
.modal-content {
  margin: 15% auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
  
.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: lighter;
  transition: 0.3s;
}
  
.close:hover, .close:focus {
  color: grey;
}
  
.number {
  position: absolute;
  top: 20px;
  left: 35px;
  text-align: left;
  line-height: 55px;
  color: white;
  font-size: 18px;
}

/* Contact Us Styles */
.contact {
  display: flex;
}

.contact a {
  line-height: 2; 
}

.contact .container {
  width: 60%;
}

.contact .container p { 
  margin: 1% 0;
}

.map {
  width: 100%; 
  position: relative;
  margin-left: 5%;
  margin-top: 25px;
}

.contact-us h4 {
  margin-bottom: 0px;
}

.map iframe {
  width: 100%;
  height: 350px;
  border: 0;
  border-radius: 5px;
}

.form-top {
  display: flex;
  justify-content: space-between;
}

.form-top .form-input {
  flex: 1;
  margin-right: 20px; 
}

.form-top .form-input:last-child {
  margin-right: 0;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.form-input label {
  margin: 9px 0;
  color: #333;
}

.form-input input, .form-input textarea {
  font-family: "Poppins", sans-serif;
  color: #333;
  background-color: #fcfcfc;
  font-size: 16px;
  padding: 12px;
  border: 1px solid #333;
  border-radius: 5px;
  resize: none;
}

#message-sent {
  display: none;
}

.error-message {
  color: red;
}

.enquiry-form {
  padding: 40px;
  margin-top: 30px;
  background-color: #F9F9F9;
  padding-bottom: 80px;
}

.contact h2::after, .enquiry-form h2::after {
    content: '';
    display: block;
    width: 70px;
    border-bottom: 2px solid #E0E0E0; 
    margin: 10px 0; 
}

/* Footer Styles */
footer {
  color: #CCCCCC;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #063556;
  font-size: 13px;
}

footer img {
  height: 25px; 
  width: 25px;
  filter: brightness(0.7);
  transition: filter 0.4s ease-in-out;
}

footer img:hover {
  filter: brightness(1);
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

/* Media queries */
@media (max-width: 1067px) {
  .service img {
    width: 320px;
    height: 270px;
  }
}


@media (max-width: 930px) {
  .navbar .logo {
    height: 65px; 
  }

  /* Text */
  h1 {
    font-size: 30px;
  }

  .overlay-text {
    bottom: 16px; 
    font-size: 34px;
  }

  /* Contact Us */
  .contact {
    flex-direction: column;
  }

  .contact-us .container {
    width: 100%;
  }

  .map {
    margin-left: 0;
    margin-top: 5%;
  }

  /* Services  */
  .service img {
    width: 290px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
  }

  .our-services {
      padding-left: 40px;
      padding-right: 40px;
  }

  .service {
      display:block;
  }

  .service-content {
      padding-left: 0;
  }
}

@media (max-width: 820px) {
  /* Gallery */
  .gallery img {
    width: 49%;
    margin-bottom: 2%;
  }

  .modal-content {
    margin: 30% auto;
  }
}
/* Media queries */
@media (max-width: 768px) {
  /* Navigation  */
  .navbar .logo {
    height: 55px; 
  }

  .navbar li {
      padding: 0 5px;
  }

  footer {
    padding: 10px 15px;
    font-size: 12px;
  }

  /* Text */
  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
    text-align: left;
  }

  p {
    font-size: 16px;
  }

  .overlay-text {
    bottom: 10px; 
    font-size: 28px;
  }

  /* Contact Us */
  .contact {
    flex-direction: column;
  }

  .contact-us .container {
    width: 100%;
  }

  .map {
    margin: 5% 0 0 0;
  }

  .form-top .form-input {
    margin-right: 0; 
  }

  .form-top {
    flex-direction: column;
  }
}

/* Media queries */
@media (max-width: 620px) {
  /* Text  */
  h1 {
    font-size: 20px;
  }

  .overlay-text {
    left: 20px; 
    right: 20px;
    bottom: 8px; 
    font-size: 20px;
  }

  /* Services  */
  .our-services h2 {
    font-size: 20px;
  }

  .our-services h3 {
    font-size: 18px;
  }

  /* Navigation  */
  .navbar {
    flex-direction: column;
    margin: 0px; 
    padding: 5px 0;
    padding-bottom: 2px;
  }

  .navbar .logo {
    height: 38px; 
    padding: 0px;
  }

  .navbar ul {
    margin: 0px; 
    padding: 0px;
  }

  .navbar ul li a {
    margin: 0;
    padding: 4px 8px;
  }

  .navbar a {
    line-height: 40px; 
  }
  
  /* Padding  */
  .main, .our-services, .about-us-content, .gallery-heading, .contact-us {
    margin: 5px;
    padding: 15px;
  }

  .contact-us, .gallery-heading {
    margin-top: 55px;
    padding: 10px
  }

  .enquiry-form {
    padding: 20px;
    padding-bottom: 80px;
  }
}